@font-face {
font-family: "PRICEDOWN";
src: url("/src/fonts/pricedown_bl.ttf");
}


body{
  background-color: #303030;
  transition: all 0.5s ease-out;
  width: 100%;
}

body.blue {
 background-color: blue;
}

canvas {
  position: relative;
  margin: 0 auto;
  display: block;
  z-index: 100;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}


.header{
    background-color: #303030;
    width: 100%;
    position: absolute;
    padding: 50px;
    font-family: PRICEDOWN;
    z-index: 1;
  }

  .header img{
    height: auto;
    max-width: 100px;
    position: relative;
    display: block;
    z-index: 10;
    top: -159px;
    left: 196px;
  }

.headline {
  color: white;
  position: relative;
  z-index: 20;
  font-stretch: ultra-expanded;
  font-size: 4rem;
}

.alc{
  width: 30px;
  display: inline-block;
  color: antiquewhite;
}

.formular{
  padding-top: 400px;
  width: 100%;
  background-color: #303030;
  position: relative;
  top: -330px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  min-height: 1000px;
}

html body div.container div.formular div.field.is-grouped div.control input.input.is-primary::placeholder {
  color: white;
}

html body div.container div.formular div.field.is-grouped div.control input.input.is-primary {
  color: white;

}

.alcTableWrapper{
  width: 100%;

  padding: 25px;
  width: 100%;
  background-color: #274c46;
  padding: 25px;
  border: 1px solid #00d1b2;
  border-radius: 4px;
}

table label {
  color: white;
}

html body div.container div.formular div.alcTableWrapper div#alcTable_wrapper.dataTables_wrapper.no-footer div#alcTable_length.dataTables_length label{
  color: white;
}

html body div.container div.formular div.alcTableWrapper div#alcTable_wrapper.dataTables_wrapper.no-footer table#alcTable.hover.dataTable.no-footer thead tr th{
  color: white;
}

html body div.container div.formular div.alcTableWrapper div#alcTable_wrapper.dataTables_wrapper.no-footer div#alcTable_filter.dataTables_filter label {
  color: white;
}

html body div.container div.formular div.alcTableWrapper div#alcTable_wrapper.dataTables_wrapper.no-footer table#alcTable.hover.dataTable.no-footer tbody tr {
  background-color: #274c46;
color: white;
}

html body div.container div.formular div.alcTableWrapper div#alcTable_wrapper.dataTables_wrapper.no-footer div#alcTable_filter.dataTables_filter label input {
  background-color: #274c46;
  border: 1px solid #00d1b2;
  border-radius: 4px;
  color: white;
  height: 36px;
  padding: 10px;
}

html body div.container div.formular div.alcTableWrapper div#alcTable_wrapper.dataTables_wrapper.no-footer div#alcTable_info.dataTables_info {
  color: white;
}

#debug-form{
  position: absolute;
  z-index: 100;
  top:50px;
  right:20px;
  padding: 20px;
  background-color: #274c46;
  color: white;
  border: 1px solid #00d1b2;
  border-radius: 3px;
}

#debug-form label {
  color: white;
}



#toggleDebug{
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 10000;
}

.hidden {
  display: none;
}

#police{
  height: auto;
  max-width: 100%;
  position: absolute;
  z-index: 10000;
  transform: rotate(90deg);
  top: 700px;
  left: -400px;
  transition: all ease-in 2s;

}


#notification {
  position: absolute;
z-index: 5000;

top: 10px;

left: 15%;
}
